db.url=jdbc:mysql://localhost:3306/ecf_dao?useSSL=false&serverTimezone=UTC
db.username=root
db.password=VOTRE_MOT_DE_PASSE_ICI
db.driver=com.mysql.cj.jdbc.Driver
db.autoReconnect=true
db.useUnicode=true
db.characterEncoding=UTF-8